<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chipotle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Welcome to Chipotle! Home of the Best Guacamole!</h1>

<img src="chipotle-pepper.png" width="200" height="200"/>

<br/><br/>

<h2>Order</h2>
<form action="#" th:action="@{/order}" th:object="${order}" method="post">
    <label><h4>Customer Name:</h4></label>
    <input type="text" th:field="*{customerName}"/>
    <br/><br/>

    <tr th:each="ingredient: ${available_ingredients}">
        <!--        th:field="*{ingredients}"-->
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <label th:text="${ingredient.getName()}"/><br/><br/>
    </tr>

    <input type="submit" value="Submit">

</form>

</body>
</html>